body {
    font-family: 'DM Sans', sans-serif;
    background-color: bisque;
    color: rgb(57, 13, 13);
    overflow-x: hidden;
}

.head-section {
    display: flex;
}

.other-symbols {
    display: flex;
    margin-left: 14rem;
}

.fa-battery-full {
    margin-left: 0.3rem;
}

h3 {
    text-align: center;
}

.app-introduction img {
    width: 16rem;
    background: transparent;
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.app-introduction h3 {
    
}